DEEP_SEARCH_URL=https://api.bochaai.com/v1/ai-search
DEEP_SEARCH_API_KEY=

AISEC_DB_URI=mysql://user:password@127.0.0.1:3306/aisec?charset=utf8mb4

AISEC_ES_HOST=http://127.0.0.1:9200
AISEC_ES_USER=elastic
AISEC_ES_PASSWORD=

AISEC_MINIO_ENDPOINT=127.0.0.1:9000
AISEC_MINIO_ACCESS_KEY=
AISEC_MINIO_SECRET_KEY=

AISEC_EMBEDDING_BASE_URL=http://127.0.0.1:11434/api
